<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Misael Nascimento" />
    <title>JerwelyStore - Sucesso!</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../assets/css/stylesProdutos.css" rel="stylesheet" />
</head>
<body>
<head>
    <meta charset="UTF-8">
    <title>Cadastrado com Scuesso</title>
</head>
<body>
    <h1>Usuario Cadastrado com Sucesso</h1>

</body>
</html>